body {
	text-align:left;
	color:black;
/*	background-color: #F5F5F5;*/
	background-color: #a6c5b7;
}
p {
	padding-left:10%;
	padding-right:10%;
}
#small {
	font-size: 0.5em;
	color:darkgrey;
}
#hide {
	display:none;
}
a, a:active, a:visited {
	text-decoration: none;
	color: blue;
	-webkit-transition: 0.5s ease border, 1s ease border-radius, 0.5s ease color;
	transition: 0.5s ease border, 1s ease border-radius, 0.5s ease color;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: red;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
a:hover, a:focus {
	/*text-decoration: underline;*/
	color: red;
	-webkit-transition: 0.5s ease border, 1s ease border-radius, 0.5s ease color;
	transition: 0.5s ease border, 1s ease border-radius, 0.5s ease color;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: red;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

h2 {
	margin-bottom: 12px;
/*	margin-top: 6px;*/
}
h3 {
	margin-top:5px;
	margin-bottom:5px;
	font-size:1.25em;
}
#content {
	font-family:monospace;
	background-color: white;
	border-top: 1px solid #646464;
	border-bottom: 1px solid #646464;
	padding-top: 10px;
	padding-bottom: 14px;
	margin-left: 0px;
	padding-left: 12px;
}
#foot {
	font: 0.9em monospace;
	color: #787878;
	padding-top: 4px;
	border-bottom-color: #787878;
}
#weather {
	margin-left: 1.5em;
}
